html {
    font-family: "Andale Mono";
}

.history li {
    margin-top: 8px;
}

.history li .message {
    font-size: medium;
}

.history li .author, .history li .datetime {
    font-size: smaller;
    color: lightgray;
}

.compose textarea, .compose button{
    font-family: "Andale Mono";
    border: none;
    font-size: small;
}



.compose button {
    background-color: Transparent;
    vertical-align: super;
}

.compose {
    padding: 5px;
    background-color: lightgray;
}
